version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: environment/docker/Dockerfile
    image: wha-api:local
    ports:
      - "8700:8080"
    environment:
      PORT: 8080
    depends_on:
      - mysql
    working_dir: /var/www
    volumes:
      - ./src:/var/www
      - vendor_data:/var/www/vendor
      - cache_data:/var/www/bootstrap/cache
      - composer_cache:/var/www/.composer
    networks: [ heritage-net ]

  mysql:
    image: mysql:8.0
    container_name: heritage-mysql
    environment:
      MYSQL_ROOT_PASSWORD: world-heritage
      MYSQL_USER: world-heritage
      MYSQL_PASSWORD: world-heritage
      MYSQL_DATABASE: world_heritage_local
    ports:
      - "2306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./environment/mysql-init:/docker-entrypoint-initdb.d:ro
    networks: [ heritage-net ]

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: heritage-phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: world-heritage
      PMA_PASSWORD: world-heritage
    ports:
      - "127.0.0.1:8081:80"
    depends_on: [ mysql ]
    networks: [ heritage-net ]

networks:
  heritage-net:

volumes:
  db_data:
  vendor_data:
  cache_data:
  composer_cache:
